/* Set the background image for each page  */

body{
    background: url(../images/background.jpeg) no-repeat center fixed ;
    background-size:cover;
}

#logo{
    background: url(../images/SafePassage.png) ;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);